@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Satoshi-Bold, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.input {
  @apply w-full rounded-lg border-slate-300 focus:border-sky-500 focus:ring-sky-500;
}